body{
    background-color: aliceblue;
    font-family: "Gill Sans", sans-serif;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}
h1{
    color: rgb(45, 127, 199);
    font-family: "Gill Sans", sans-serif;
}
h3{
    color: rgb(45, 127, 199);   
    font-family: "Gill Sans", sans-serif;
}